cut_sound_template.labnew_files_reader_prototype_.ipynbnew_files_reader_prototype.ipynbfiles/**plots/**rest/**.idea/**filterted/**sound_info/**app/**temp/**__pycache__/**.ipynb_checkpoints/**test/**new_files/**wfm_files/**spectrograms2/**spectrograms/**